gray(color, opacity = 1)
	return rgba(color,color,color, opacity)

*
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	box-sizing: border-box


article
	width: 900px
	margin: 0 auto
	padding: 50px 20px
	background-color: gray(200)